.order-confirmation-item {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-gap: 30px;
  padding-top: 10px;
}

.confirmation-container {
  margin-top: 11px;
}

.delete-item-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

@media (min-width: 1000px) {
  .order-confirmation-indent {
    margin-left: 20px;
  }

  .order-confirmation-lower-div {
    margin-top: 20px;
  }

  .order-confirmation-summary-subtotal {
    margin: 2rem;
  }
}
