.order-confirmation-item {
  align-items: center;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-gap: 30px;
  justify-content: center;
  padding: 0.5rem 0;
}

.order-confirmation-scrollable-div {
  overflow-y: scroll;
  height: 275px;
}

.confirmation-container {
  margin-top: 11px;
}

.delete-item-button {
  align-items: center;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

@media (min-width: 1000px) {
  .order-confirmation-jumbotron {
    margin-top: 4rem;
  }

  .order-confirmation-indent {
    margin-left: 20px;
  }

  .order-confirmation-summary {
    margin-top: 1rem;
  }

  .confirmation-alert {
    margin: 0 auto;
    width: 50%;
    height: 200px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 10em;
  }

  .confirmation-alert-text{
    margin-top: 50px;
  }
}
