.header {
  background-color: #a68965;
  position: absolute;
  display: inline;
  z-index: 1;
  width: 100%;
  top: -1px;
}

.web-title {
  font-size: 20px;
}

.header-container {
  margin-left: 15px;
}

.links {
  text-decoration: none;
  color: white;
  margin-right: 10px;
  margin-left: 25px;
}

.links:hover {
  color: green;
}

.search {
  margin-right: 15px;
}

#search-btn {
  border: 1px solid white;
  background: var(--green);
}

.guest-link {
  margin-right: 15px;
  font-size: 20px;
}

.badge {
  border-radius: 100% !important;
  border: 1px solid white;
  margin-bottom: 10px;
  background-color: var(--green);
}

.hover {
  background: linear-gradient(
    to right,
    rgb(19, 88, 19),
    rgb(21, 136, 21) 50%,
    white 50%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}

.hover:hover {
  background-position: 0 100%;
}

.dropdown-links {
  text-align: center;
}

.dropdown-link:active {
  background-color: green;
}

.badge {
  height: 25px;
}

@media (min-width: 768px) {
  .badge {
    border: 1px solid white;
    position: relative;
    right: 13px;
    height: 24px;
    width: 32px;
    display: flex;
    justify-content: center;
  }

  .search {
    margin-right: 50px;
  }

  

  .cart {
    width: 20px;
    height: 20px;
    margin-top: 5px;
  }

  .links {
    margin-top: 5px;
  }
}
