.header {
  background-color: #a68965;
}

.header-container {
  margin-left: 15px;
}

.search {
  margin-right: 15px;
}

.guest-link {
  margin-right: 15px;
  font-size: 20px;
}
.hover {
  background: linear-gradient(to right, rgb(19, 88, 19), rgb(21, 136, 21) 50%, white 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}

.hover:hover {
  background-position: 0 100%;
}
/* CSS Style to affect the home etc in nav, needs work */
/* .links{
  background: linear-gradient(to right, wheat, rgb(105, 69, 3) 50%, wheat 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;

}
.links:hover{
  background-position: 0 100%;
} */