.item-name {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.item-name:hover {
  color: green;
}

.cart-container {
  margin-top: 60px;
}

.qty-counter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 20px;
}

.cart-delete {
  background: red;
  border: none;
}

.cart-delete:hover {
  background: white;
  border: 1px solid red;
  color: red;
}

.cart-asc {
  background: green;
  width: 40px;
}

.cart-desc {
  background: green;
  width: 40px;
}

.cart-asc:hover {
  background: white;
  color: green;
  font-weight: 600;
  border: 1px solid green;
}

.cart-desc:hover {
  background: white;
  color: green;
  font-weight: 600;
  border: 1px solid green;
}

.cart-price {
  margin-top: 10px;
}

.cart-qty {
  margin-right: 20px;
  margin-left: 20px;
}

@media (min-width: 1000px) {
  .cart-container {
    margin-top: 10px;
  }

  .cart-name {
    margin-top: 13px;
  }

  .cart-price {
    margin-top: 13px;
  }

  .qty-counter {
    margin-right: 134px;
    margin-top: 13px;
  }

  .cart-delete {
    margin-top: 13px;
  }
}
