.image {
  width: 100%;
  margin-top: 53px;
  height: 51rem;
}

.imageMobile {
  background-image: url(/public/images/landingPageMobile3.png);
  background-size: cover;
  height: 90vh;
  margin-top: -6px;
}

.logoMobile {
  width: 170px;
  height: 160px;
  border-radius: 50%;
  border: 2px burlywood solid;
  margin-top: 39%;
  margin-left: 30%;
  position: absolute;
}

.logo {
  border-radius: 50%;
  border: 2px #deb887 solid;
  width: 480px;
  height: 460px;
  margin-top: 8%;
  margin-left: 37.5%;
  position: absolute;
}

.shrink {
  transition: 1s ease;
}

.shrink:hover {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  transition: 1s ease;
}