.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 5px solid white;
}

.name {
  top: 25%;
  left: 45%;
  position: absolute;
}

.links {
  text-decoration: none;
  color: wheat;
}

.landingHover {
  background: linear-gradient(to right, wheat, rgb(105, 69, 3) 50%, wheat 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}

.landingHover:hover {
  background-position: 0 100%;
}
