.background-landing {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/public/images/landingPageMobile3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  margin-top: 50px;
}

.logo {
  width: 170px;
  height: 160px;
  border-radius: 50%;
  border: 2px burlywood solid;
}


.logo-container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 50%;
  width: 50%;
}

@media (min-height: 700px) {
  .background-landing {
    height: 85vh;
  }
}

@media (min-width: 520px) {
  .logo {
    border-radius: 50%;
    border: 2px burlywood solid;
    height: 12em;
    width: 14em;
  }
}

@media (min-width: 1000px) {
  .background-landing {
    background-image: url(/public/images/landingPage2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
  }

  .logo-container {
    height: 50%;
    width: 50%;
    margin-bottom: 14em;
  }

  .logo {
    border-radius: 50%;
    border: 2px burlywood solid;
    height: 20em;
    width: 22em;
  }

  .logo:hover {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
  }

}