.subtotal-container {
  background: var(--green);
  color: white;
  margin-top: 10px;
}

.checkout-btn {
  width: 75%;
  color: black;
  font-size: 20px;
}

.total-num {
  font-size: 20px;
}

.subtotal-title {
  font-size: 30px;
}

.subtotal-content {
  text-align: center;
}

@media (min-width: 1000px) {
  .subtotal-container {
    display: block;
    margin-top: 0;
    max-height: 100%;
    width: 96%;
    position: relative;
  }
}
