.adminlogin-structure {
  margin-top: 73%;
  margin-left: 15%;
  width: 250px;
  height: 56vh;
  /* position: relative; */
  /* top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px; */

}

@media (min-width: 768px) {
.adminlogin-structure {
    margin-top: 15%;
  margin-left: 40%;
  height: 50vh;
  
    }
  }
