.adminlogin-structure {
  margin-top: 73%;
  margin-left: 15%;
  width: 250px;
  height: 56vh;

}

@media (min-width: 768px) {
  .overall-structure{    
    height: 47vh;
  }
  .adminlogin-structure {
    margin-top: 15%;
    margin-left: 40%;
    height: 30vh;
    }
  }
