.cart-structure {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
}

.product-img {
  height: 75px;
}
.qty-col {
  width: 110px;
  text-align: center;
}
.total-col {
  width: 100px;
}

.checkout-box {
  background-color: #006241;
  text-align: center;
  color: white;
  padding: 10px;
  margin-top: -16px;
}

@media (min-width: 1000px) {
  #cart-container {
    width: 98%;
  }

  .margin {
    margin: 20px;
    margin-bottom: 16px;
  }
  .cart-structure {
    display: flex;
    height: 100%;
  }
  .qty-col {
    width: 110px;
    text-align: center;
  }
  .total-col {
    width: 120px;
    text-align: center;
  }
  .product-img {
    height: 150px;
  }
  .table-styling {
    margin: 20px;
  }
  .table-col {
    width: 50px;
  }
  .checkout-text-structure {
    margin-top: 30%;
    height: 100vh;
  }
  .checkout-text {
    text-align: left;
    margin-left: 25%;
    margin-bottom: 10%;
  }
  .qty-btn {
    margin: 15px;
    width: 28px;
    height: 28px;
    padding: 1px;
  }
  .remove-btn {
    margin-top: -20px;
  }
}
