.footer {
  background-color: #a68965;
  padding: 1rem;
  color: white;
  font-size: .75rem;
  height: 7vh;
}

.footer-row {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  text-align: center;
}

@media (min-width: 768px) {
  
  .footer-row {
 display: flex;
  }

}